/* Propiedad universal */
* {
  margin: 0;
  padding: 0;
}
/* Contenedor Principal */
.general {
  display: flex;
}
/* Sección Contactos */
.contactos {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  flex: 0 0 25%;
}
/* Sección superior usuario */
.estado-usuario {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1em 1em 1em 3.6em;
}
/* Logo, nombre y actividad de usuario*/
.datos-usuario {
  display: flex;
  align-items: center;
}
/* Logo de usuario */
.logo-usuario {
  margin-top: 0.625em;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: 0.3s;
}
/* Comportamiendo logo de usuario en hover */
.logo-usuario:hover {
  scale: 1.1;
  transition: 0.3s;
}
/* Nombre y actividad de usuario */
.usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
}
/* Nombre de usuario */
.nombre-usuario {
  font-family: "Roboto";
  font-size: 19px;
  padding-left: 0.2em;
  color: #1b1f21;
}
/* Actividad de usuario */
.actividad-usuario {
  font-family: "Open Sans";
  font-size: 13px;
  color: #1b1f21;
}
/* Icóno de chat y navegación */
.iconos {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 45px;
}
/* Sección botón nuevo chat */
.nuevo-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
/* Texto botón nuevo chat */
.nuevo-chat button p {
  font-size: 20px;
  font-family: "Roboto";
}
/* Botón nuevo chat */
.nuevo-chat button {
  width: 290px;
  height: 50px;
  color: #fff;
  border: none;
  background-color: #a491d2;
}
/* Botón nuevo chat en hover */
.nuevo-chat button:hover {
  background-color: #cdc3e6;
}
/* Botón nuevo chat al hacer click */
.nuevo-chat button:focus {
  background-color: #bec1bb;
}
/* Sección de chats */
.chats {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
/* Ventana de chat pequeña */
.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
/* Logo de contacto en chat */
.chat-logo {
  display: flex;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 3em;
}
/* Información de contacto en chat */
.chat-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 2em;
  padding-bottom: 0.5em;
  width: 100%;
  height: 100%;
}
/* Nombre de contacto en chat */
.nombre-chat {
  font-family: "Roboto";
  font-size: 20px;
  color: #1b1f21;
}
/* Último mensaje de contacto en chat */
.mensaje-chat {
  font-family: "Open Sans";
  font-size: 14px;
  color: #1b1f21;
}
/* Sección principal */
.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 75%;
  background-color: #f9f9fa;
}
/* Logo principal */
.logo-mano {
  width: 300px;
  height: 300px;
  border-radius: 10%;
}
/* Título sección principal */
.titulo {
  margin-top: 1em;
  font-size: 45px;
  font-family: "Roboto";
  color: #444749;
}
/* Párrafo sección principal */
.parrafo {
  font-size: 16px;
  width: 35%;
  text-align: center;
  font-family: "Open Sans";
  color: #444749;
}
/* Párrafo en negrita sección principal */
.parrafo span {
  font-weight: bold;
}
